<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/wtRF5dVR7ic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents">
    <h3>Onigo x Camden</h3>
    <ul>
      <li>Stack: React, firebase</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://onigoescapes.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="plasticpatrol" src="{{ "https://lh3.googleusercontent.com/7I1j7cTkfnJdEda7clxKW7Gq3VUre8OopNW-Nuykq6hz8eLL0tupBoJ2K0fwZwqtPbko=w2536-h1296-rw" | prepend: site.baseurl }}" style="width: 100%; height: 500px;"/>
  </div>
  <div class="contents-right">
    <h3>Plastic Patrol x Photos</h3>
    <ul>
      <li>Stack: React, firebase</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://plasticpatrol.co.uk/download-our-app/">Check it out</a>
  </div>
</div>
