<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="missioncamden" src="{{ "/assets/img/missioncamden.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Onigo x Mission Camden</h3>
    <ul>
      <li>Stack: React, Firebase, Docker, Django, Heroku, Postgres, AWS</li>
    </ul>
    <p>
      Free adventure games are built for residents in Camden. On a mission to give everyone easy access to fun, social and active experiences that enhance mental and physical health.
    </p>
    <a class="project-link" target="_blank" href="https://missioncamden.com/">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/RV0g59TMBXg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents-right">
    <h3>Plastic Patrol</h3>
    <ul>
      <li>Stack: React, Cordova, Firebase, Cloud Functions, Material-UI, Travis CI</li>
    </ul>
    <p>
      This app is built based on Geovation Photos open-source project. Allow user to simply take a photo and provide information of collected platic which will later show on the map.
    </p>
    <a class="project-link" target="_blank" href="https://plasticpatrol.co.uk/download-our-app/">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="brink" src="{{ "/assets/img/grid-garden.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Grid Garden</h3>
    <p>
      A game for learning CSS grid layout 🥕. I contributed Chinese Traditional translation and also a bit of the simplified one.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/thomaspark/gridgarden">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="brink" src="{{ "/assets/img/brink.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Brink Projects: Polar Light</h3>
    <ul>
      <li>Stack: React Native, Redux, Expo</li>
    </ul>
    <p>
      Lighting data for every minute of one year gathered at Halley VI Research Base on the Brunt Ice Shelf by the British Antarctic Survey is presented in the BRINK Polar Light App for use with the Philips Hue lighting system.
    </p>
    <a class="project-link" target="_blank" href="https://brinkprojects.com/polar-light-test">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="satc" src="{{ "/assets/img/satc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Safe & the City</h3>
    <ul>
      <li>Stack: React Native, Redux, Firebase, Cloud Functions, Circle CI</li>
    </ul>
    <p>
      A street-smart app to navigate you based on crime, lighting and crowdsourced experiences of street harassment to make informed decisions about your safety while planning & taking a walk.
    </p>
    <a class="project-link" target="_blank" href="https://www.safeandthecity.com/">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="refill" src="{{ "/assets/img/refill.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Refill</h3>
    <ul>
      <li>Stack: Angular, Ionic, Firebase, Circle CI</li>
    </ul>
    <p>
      On a mission to help the UK fall in love with tap water again and preventing plastic pollution at source by making reusing a bottle easier than buying a new one. The refill app is to show nearby or any free Refill water stations across the UK and over all world.
    </p>
    <a class="project-link" target="_blank" href="https://refill.org.uk/get-the-refill-app/">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="citycycler" src="{{ "/assets/img/citycycler.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>CityCycler</h3>
    <ul>
      <li>Stack: React Native, Firebase, Cloud Functions, Node.js, PostgreSQL, Swagger UI, Circle CI</li>
    </ul>
    <p>
      A mobile app with a mission to get more people cycling in London by pairing up new and experienced cyclists on the same routes.
    </p>
    <a class="project-link" target="_blank" href="https://citycycler.cc/">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tippecanoe" src="{{ "/assets/img/tippecanoe.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Mapbox: Tippecanoe</h3>
    <ul>
      <li>Stack: C++, GeoJSON, MBTiles, Vector Tiles, Travis CI</li>
    </ul>
    <p>
      Made pull request to Tippecanoe project by adding directory support, including its 'tile-join' tool. It can be beneficial to adopt a directory structure and merging process for handling vector tiles, which can be further used for rendering.
    </p>
    <a class="project-link" target="_blank" href="https://geovation.github.io/tippecanoe-directory-support">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="tiler" src="{{ "/assets/img/tiler.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Geovation: Tiler</h3>
    <ul>
      <li>Stack: Python, Docker, ogr2ogr, GeoJSON, MBTiles, Vector Tiles, Circle CI</li>
    </ul>
    <p>
      A command line orientied pipeline for taking vector data in formats such as GeoJSON and Shapefiles, and transforming them into raw Vector Tiles and MBTiles files.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/Geovation/tiler">See more</a>
  </div>
</div>
